
<ansi fg="black-bold">.:</ansi> <ansi fg="username">{{ .Name }}</ansi>
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Description</ansi> ────────────────────────────────────────────────────────────┐
   {{ normalizewrap .GetDescription 72 "   "}}
{{- if .GetMutationVisuals }}
   <ansi fg="magenta">{{ normalizewrap .GetMutationVisuals 72 "   " }}</ansi>
{{- end }}
   {{ .GetHealthAppearance }}
 └────────────────────────────────────────────────────────────────────────────┘
