{{ $cooldowns := .SkillCooldowns }}{{ $blurbs := .SkillBlurbs }}
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Skills</ansi> ─────────────────────────────────────────────────────────────────┐
 {{ range $skillName, $skillLevel := .SkillList }}  <ansi fg="yellow-bold">{{ padRight 12 $skillName }}</ansi> {{ if eq $skillLevel 0 }}[Unknown]{{ else }}<ansi fg="white">[{{ skillRank $skillLevel }}]</ansi>{{ end }}    {{ if eq (index $cooldowns $skillName) 0 }}{{ else }}<ansi fg="red">Recovering...</ansi>{{ end }}
 {{ if index $blurbs $skillName }}     <ansi fg="black-bold">{{ index $blurbs $skillName }}</ansi>
 {{ end }}{{ end -}}{{ if eq (len .SkillList) 0 }}  No Skills! Visit a guild or training center to train.
 {{ end -}}
 └────────────────────────────────────────────────────────────────────────────┘

