
{{- $hpDisplay := printf "%d/%d" .Character.Health .Character.HealthMax.Value }}
  ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Base Value</ansi> ────────────────────────┐
  │ <ansi fakeprop="strength"  ><ansi fg="yellow">Strength:   </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Strength.Value .Character.Stats.Strength.Mods     ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Strength.Mods   }}</ansi>
    <ansi fakeprop="vitality"  ><ansi fg="yellow">Vitality:   </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Vitality.Value .Character.Stats.Vitality.Mods     ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Vitality.Mods   }}</ansi>
    <ansi fakeprop="dexterity" ><ansi fg="yellow">Dexterity:  </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Dexterity.Value .Character.Stats.Dexterity.Mods   ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Dexterity.Mods  }}</ansi>
    <ansi fakeprop="willpower" ><ansi fg="yellow">Willpower:  </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Willpower.Value .Character.Stats.Willpower.Mods   ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Willpower.Mods  }}</ansi>
    <ansi fakeprop="perception"><ansi fg="yellow">Perception: </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Perception.Value .Character.Stats.Perception.Mods ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Perception.Mods }}</ansi>
  │ <ansi fakeprop="charisma"  ><ansi fg="yellow">Charisma:   </ansi><ansi fg="201">{{ printf "%-4d" ( sub .Character.Stats.Charisma.Value .Character.Stats.Charisma.Mods     ) }}</ansi></ansi>  <ansi fg="black-bold">gear & buffs:</ansi> <ansi fg="statmod">{{ printf "%-4d" .Character.Stats.Charisma.Mods   }}</ansi>
  └───────────────────────────────────────┘
  You have <ansi fg="201">{{ .Character.StatPoints }}</ansi> points left to spend.
