
<ansi fg="yellow-bold">*******************************************************************************</ansi>
<ansi fg="yellow-bold">*******************************************************************************</ansi>

<ansi fg="yellow"> {{ . }}</ansi>

<ansi fg="yellow-bold">*******************************************************************************</ansi>
<ansi fg="yellow-bold">*******************************************************************************</ansi>
