 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">In Storage</ansi> ───────────────────────────────────────────────────────────┐
 {{ range $idx, $itemName := . }}  {{ add $idx 1 }}. <ansi fg="itemname">{{ $itemName }}</ansi>
 {{ end }}{{ if eq (len .) 0 }}  Nothing
 {{ end -}}
 └──────────────────────────────────────────────────────────────────────────┘
 <ansi fg="command">storage add [item/all]</ansi> to store items. <ansi fg="command">unstore [item/#]</ansi> to retrieve.
 <ansi fg="command">stow</ansi> deposits all your crafting components here at once.

