.vscode
bin/
private-notes.txt
_datafiles/**/users/*
_datafiles/**/plugin-data/*
**/config-overrides.yaml
_datafiles/config.yaml.bak.*
_datafiles/tls/
**/.roundcount
**/rooms.instances
vendor/
server.crt
server.key
ssh_host_key
ssh_host_key.pub
tmp-gomud.exe
__debug*
.claude/
cmd/app/dist/*
cmd/app/node_modules/*
cmd/app/build_cache/*
cmd/app/steam/output/*