<ansi clear="all"></ansi>
<ansi fg="88">                 /&%/**(/(,/###&@%/***,**/##/((*(@@//.   .(&&#(%,
      (@@@&&&&&&&/%%(**/,**(#%#%%#/*,,*((((%%#(//##/. ,,.*(#%%@(&#########*
      (@@@&&&&&&&(&%%(/(###%##((##########, /########%###((#%%%(&#########*
      /@@&########(((%##%####((///////(###, /##(///(((########%%.#########*
      /@%####&@@@&%###%#((#((((/////////#*  .//////////(#########/########*
      /%#(((#**(######(((((////**///////(,   *(///////(((#(###%####%@&&&&&/
      /%#(#(/#%#(###(((#####(/(((##(*//#(.  .*//(///(((((/###((#%####%&&&&/
      *%##(#&##((#%%#(///((((///(#(/*////,  ./(/((/(/(((((////(((##(###&&&/
      /&#%&%%%&&##&&@%%%((########//(###(*. ,*#(/(########(((@@@&&@%/(#%&&/
      /&@(#####%((&&%%#%(#(/((##(*(((/(##*, .*((*/###((/#&%/%%&@%&##%#%%%%*
      .*,/%#/###((((((##((/(##(###((//(###(*, *(##((##(/(((##((((##%###(%%*
      .**#%(/(%%#(//////*(##((((**//**,..,** ,**,,*/(##%(/(////((###%#(#%%*
      ,(#%%((###%#(((///(#((/,,,,*/(#%%%#####(///*,,**/#%(///////#%%((##%#*</ansi>
<ansi fg="red">      *%&%(#((((((#%%#(##(/,,*/%%#((((((((((((#%&%(*,***(#(//(((#%######%%*
      *%&&###((#(//#(##%(**,,/%(/(#&&#/(((((#%#(/(%%/*,**#%#(#%#//(#(####&/
      *%%%%#(((((((##%%(*,,*/#&%%%(/(##((((%((##((#%(/,,*(%%%#(((##(####%&/
      *##%%%####(((((%#****//####(####((%((#(#((((##(//. (%%%######(((#%%%/
      *##/(%##((((#%%%/,*///(((%&(/(((((((((((/(%%((///*,/#%%####((((###&@/
      /&&&&&(#%#####%#*,.,///////#&%%((((((#%%&%(/(((//*/(##%%%%#####%%/##*
      /@@@@@@&%%%%####(/////((/((((#(((#%#(((((((/////(/((#%%%%##%%%#%@%/(,</ansi>
<ansi fg="88">      *######@%#@@@&#(%##((/((///((((((#((((((((((///////#%%##%&&&%%@@@@@@/
      *#######&%(%#&@@&&(////(((#%@@@@@@@@@@&%((((//((((##%&@@@&%#%&&&&&&&/
      *########&%%((&%&@@@@@@@@@@@@&&%%#%&@@@@@@@&@&%&&@@@@&##*#(%%%%%%%%%*
      /@@@@@@@@@@&&%#%%##%/*(*,**************,,/((%%%%&@@%&%/(%%@@@@@@@@@@/
      (@@@@@@@@@@@&((###(%# ((*********/**********/* (&%%%####@@@@@@@@@@@@(
      (@@@@@@@@@@@@@#(((%&%(/********************/((%&&%(((#&@@@@@@@@@@@@@(
      (@@@@@@@@@@@@@@&(((#((((///******************#%((((#%@@@@@@@@@@@@@@@(
      (@@@@@@@@@@@@@@@@&##(/**********/********/*/(((((#&@@@@@@@@@@@@@@@@@(
      (@@@@@@@@@@@@@@@@@@(,*////****/*///*********,,(&@@@@@@@@@@@@@@@@@@@@(
      (@@@@@@@@@@@@@@@@@@@(//(((((///*/*////(/((///&&@@@@@@@@@@@@@@@@@@@@@(
      (@@@@@@@@@@&&&&&&&&&&#*///((((////(((((((*,#&&&&&&@@@@@@@@@@@@@@@@@@(
      (@@@@@@@@@@&@@@@@@@@@@@(*///**/**//((((/*/&&&&&&&&&&&&@@@@@@@@@@@@@@(</ansi>
<ansi fg="black-bold">{{ repeat "=" 80 }}</ansi>

                    <ansi fg="white-bold">~ <ansi fg="45">Delusions of Grandeur</ansi> ~</ansi>

<ansi fg="black-bold">.:</ansi> Welcome to <ansi fg="45">Delusions of Grandeur</ansi>, a MUD set on the world of <ansi fg="45">Gaius</ansi>.
                                                      <ansi fg="black-bold">The Chrysalis awaits.</ansi>

<ansi fg="black-bold">{{ repeat "=" 80 }}</ansi>
