<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Adrenaline Surge</ansi> mutation

When near death, your body floods with impossible energy. Devastating
when cornered, but the strain is immense.

<ansi fg="yellow">Type:</ansi>     Passive
<ansi fg="yellow">Rarity:</ansi>   Very Rare

<ansi fg="yellow">Benefits:</ansi>
  Greatly increased combat damage when your health is critically low

<ansi fg="yellow">Drawbacks:</ansi>
  Significantly slower stamina recovery at all times

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
