<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">ask</ansi>

The <ansi fg="command">ask</ansi> command lets you ask an NPC a question or give a command to a hired mercenary.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">ask</ansi> <ansi fg="cyan"><npcname></ansi> <ansi fg="yellow"><question></ansi>

<ansi fg="yellow">Examples: </ansi>

  <ansi fg="command">ask saris about the chrysalis</ansi>
  <ansi fg="command">ask saris what can you tell me about the fold?</ansi>
  <ansi fg="command">ask buddy to drop sword</ansi>

