<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Beast Bond</ansi> mutation

Your command carries into the creatures that serve you as surely as
your own limbs. (A bridge between the Manifester and Zealot ways.)

<ansi fg="yellow">Type:</ansi>     Passive
<ansi fg="yellow">Rarity:</ansi>   Rare

<ansi fg="yellow">Benefits:</ansi>
  The beasts at your side fight the fiercer for the bond of command
  between you

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
