<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">berserker-elixir</ansi> (alchemy recipe)

A volatile dark elixir that channels raw Chrysalis aggression,
driving the drinker into a battle-hungry fury.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       alchemy (minimum 38)
  <ansi fg="yellow">Station:</ansi>     alchemy bench
  <ansi fg="yellow">Ingredients:</ansi> hive fragment (x1), chrysalis core (x1),
                 bitter thistle (x1), small vial (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help alchemy</ansi>, <ansi fg="command">help craft</ansi>
