<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">berserker-elixir</ansi> (alchemy recipe)

An elixir that floods the body with savage strength, but dulls agility and
awareness.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       alchemy (minimum 18)
  <ansi fg="yellow">Station:</ansi>     alchemy bench
  <ansi fg="yellow">Ingredients:</ansi> hive fragment (x1), serpent venom sac (x1),
                  chrysalis core (x1), bottle (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help alchemy</ansi>, <ansi fg="command">help craft</ansi>
