<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Chameleon Skin</ansi> mutation

Your skin runs with colour and shadow at will, folding you into any
surroundings until you are all but invisible in the dark.

<ansi fg="yellow">Type:</ansi>     Transformation (apex)
<ansi fg="yellow">Rarity:</ansi>   Apex
<ansi fg="yellow">Requires:</ansi> Padded Soles and Compound Eyes (and skin)

<ansi fg="yellow">Benefits:</ansi>
  All but invisible when still, your shifting colours make you very hard
  to strike, and your predator's senses pick out anything hidden

<ansi fg="yellow">Drawbacks:</ansi>
  The constant rippling skin unnerves those around you, and your thinner
  hide offers far less protection from blows

<ansi fg="yellow">Conflicts:</ansi> Thick Hide, Bioluminescence

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
