<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Compound Eyes</ansi> mutation

Your eyes facet into hundreds of glinting lenses. Nothing crosses
your field of view unseen, and nothing flanks you.

<ansi fg="yellow">Type:</ansi>     Passive
<ansi fg="yellow">Rarity:</ansi>   Uncommon

<ansi fg="yellow">Benefits:</ansi>
  You notice hidden creatures and things others miss
  Sharpens your reflexes, making blows harder to land on you

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
