<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Corvid Brain</ansi> mutation

Your brain refolds into something denser and cleverer, wired for
trickery and illusion.

<ansi fg="yellow">Type:</ansi>     Passive (Trickster)
<ansi fg="yellow">Rarity:</ansi>   Rare

<ansi fg="yellow">Benefits:</ansi>
  Your deceptions and mind-magics bite harder on their victims and cost
  you far less to weave

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
