<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">enchant</ansi>

See <ansi fg="command">help enchanting</ansi> for the full enchanting guide.
See <ansi fg="command">help craft</ansi> for general crafting commands.
