<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">firebomb</ansi>

An alchemical grenade that explodes on impact, dealing
physical damage to all enemies in the room.

<ansi fg="yellow">Crafting:</ansi>

  <ansi fg="stat">Skill:</ansi> Alchemy (minimum 25)
  <ansi fg="stat">Station:</ansi> Alchemy Bench
  <ansi fg="stat">Ingredients:</ansi> Putrid Residue, Coal Dust, Bottle
  <ansi fg="stat">Time:</ansi> 4 rounds

<ansi fg="yellow">Effect:</ansi>

  Deals physical damage to all enemies, scaled by your
  Dexterity. Targets can mitigate with physical armor.

Use with the <ansi fg="command">throw</ansi> command during combat.

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help throw</ansi>, <ansi fg="command">help craft</ansi>
