<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Grasping Tendrils</ansi> mutation

Coiled, barbed tendrils lash out the instant you land a blow, whipping
around your victim and rooting them where they stand.

<ansi fg="yellow">Type:</ansi>     Passive (Weaver)
<ansi fg="yellow">Rarity:</ansi>   Rare

<ansi fg="yellow">Benefits:</ansi>
  Your landed strikes snare and root the target, leaving them tangled
  and unable to move freely

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
