<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Paralytic Field</ansi> mutation

You trail a constant, smothering field of drifting silk and grinding
dissonance that bogs down everything hostile nearby.

<ansi fg="yellow">Type:</ansi>     Transformation (apex)
<ansi fg="yellow">Rarity:</ansi>   Apex
<ansi fg="yellow">Requires:</ansi> Sticky Secretion and Grasping Tendrils

<ansi fg="yellow">Benefits:</ansi>
  Enemies near you are slowed, half-snared, and struggle to hold a
  spell or shout together, while the churning field helps turn blows
  away from you

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
