<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">payfine</ansi>

The <ansi fg="command">payfine</ansi> command lets you buy your way
out of your private faction jail cell early by paying
the current decaying fine.

Gold is taken from your person first. If you don't have
enough on hand, the remainder is drawn from your bank
automatically. If you still can't cover the total, you'll
need to keep waiting.

Check the current amount with <ansi fg="command">fine</ansi>
before paying.

<ansi fg="yellow">See Also:</ansi>

  <ansi fg="command">help fine</ansi>
