<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Provident Hands</ansi> mutation

The Chrysalis has tuned you to the getting and making of things -- a
maker's foothold on the path of the self-made.

<ansi fg="yellow">Type:</ansi>     Passive
<ansi fg="yellow">Rarity:</ansi>   Uncommon

<ansi fg="yellow">Benefits:</ansi>
  You turn up more when you forage, recover more from what you
  salvage, and waste fewer materials at the workbench

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
