<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Raptor Legs</ansi> mutation

Your legs re-tension into digitigrade, talon-clawed limbs, built to
run prey down and open it up.

<ansi fg="yellow">Type:</ansi>     Passive
<ansi fg="yellow">Rarity:</ansi>   Uncommon

<ansi fg="yellow">Benefits:</ansi>
  Heightens your Dexterity
  Your <ansi fg="command">kick</ansi> lands far harder and is more likely to knock a
  foe from their feet

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
