<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">predators-instinct</ansi> (enchanting recipe)

An enchantment applied to a ring. Catalysts merge within the setting,
sharpening reflexes and nerves to predatory perfection.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       enchanting (minimum 25)
  <ansi fg="yellow">Station:</ansi>     enchanting circle
  <ansi fg="yellow">Target:</ansi>      ring
  <ansi fg="yellow">Ingredients:</ansi> chrysalis setting (x1), mutation catalyst (x2),
                 binding paste (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help enchanting</ansi>, <ansi fg="command">help craft</ansi>
