<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Barbed Skin</ansi> mutation

Your hide bristles with hardened barbs -- anything that strikes you
tears itself on them.

<ansi fg="yellow">Type:</ansi>     Passive (one flavor of Reflect Skin)
<ansi fg="yellow">Rarity:</ansi>   Rare

<ansi fg="yellow">Benefits:</ansi>
  A large share of the harm done to you lashes back into whoever
  struck you

<ansi fg="yellow">Note:</ansi>
  Reflect Skin comes in several forms; which one the Chrysalis gives
  you is decided by the moons on the night it wakes. They cannot be
  held together.

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
