<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">savants-infusion</ansi> (alchemy recipe)

A mind-sharpening infusion that quickens skill learning. Reserves a portion
of physical energy.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       alchemy (minimum 30)
  <ansi fg="yellow">Station:</ansi>     alchemy bench
  <ansi fg="yellow">Ingredients:</ansi> moonpetal (x2), chrysalis core (x1),
                  dustwalk herb (x2), bottle (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help alchemy</ansi>, <ansi fg="command">help craft</ansi>
