<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="yellow">Silk Glands</ansi> mutation

Spinnerets open along your wrists and spine, trailing fine, impossibly
strong silk wherever you move.

<ansi fg="yellow">Type:</ansi>     Passive (Trickster / Weaver bridge)
<ansi fg="yellow">Rarity:</ansi>   Uncommon

<ansi fg="yellow">Benefits:</ansi>
  Your webbing fouls the footing of enemies who close on you, slowing
  them, while you ride your own silk lines clear and stay harder to hit

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help mutations</ansi>
