<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">toxic-flask</ansi>

An alchemical grenade that shatters on impact, releasing a
cloud of choking poison that damages all enemies over time.

<ansi fg="yellow">Crafting:</ansi>

  <ansi fg="stat">Skill:</ansi> Alchemy (minimum 20)
  <ansi fg="stat">Station:</ansi> Alchemy Bench
  <ansi fg="stat">Ingredients:</ansi> Putrid Residue, Venom Sac, Bottle
  <ansi fg="stat">Time:</ansi> 4 rounds

<ansi fg="yellow">Effect:</ansi>

  Poisons affected targets, dealing damage over time for
  several rounds.

Use with the <ansi fg="command">throw</ansi> command during combat.

<ansi fg="yellow">Aging:</ansi>

  Toxic flasks age over time. They grow more potent as they
  mature, but will eventually destabilize and spoil. Store
  them in a <ansi fg="itemname">bandolier</ansi> for safe disposal if
  they go bad. Spoiled flasks left in your backpack may
  burst!

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help throw</ansi>, <ansi fg="command">help sort</ansi>, <ansi fg="command">help craft</ansi>
