<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">warriors-brew</ansi> (alchemy recipe)

A robust elixir that mends wounds and restores stamina simultaneously.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       alchemy (minimum 12)
  <ansi fg="yellow">Station:</ansi>     alchemy bench
  <ansi fg="yellow">Ingredients:</ansi> healer's root (x2), bitter thistle (x1),
                  dustwalk herb (x1), bottle (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help alchemy</ansi>, <ansi fg="command">help craft</ansi>
