<ansi clear="all"></ansi>                                                                                    
                                                                                                    
                                                $$XxXX$                                             
                                        x+++++;;;;;;;;+x+::+XXXXXX$                                 
                                    x+;;;;;:::::::::.:::+x:.:+++;++xXXX                             
                                x+;;;::::::::::......:::::++..;;;;;;;+++X                           
                             ;+X+;::::::::..........:::;::;;;. .::::::::+x$                         
                     Xxx ;+++x+;;;::::::.......:::::;;:..:;x;:.  .:::...::;+X                       
                   $XXX+;+:;x+++:::........::::.:::::::::..;++;.  .::.....::;$                      
                  X$XX+;+X;++;;;:::......:::...:::;;;;;;::::;+++;...:::::::;;++$                    
                 ;;;;++;;;+;;;;;::::::::;;::;;;+X;xXXXXXXXx;;:;;;;+:..:;;xX$$&$&&                   
               :;:;+x;::;++;;;;::::;;:::::;++xXXX+xX$$Xx++x++xx;;;+++++++;;++++x$$$$$$$$$$$&$$      
              :;;+xx+:::+X;;;;;::::::...   .....::;;+++++;;+XXx;+;:::::...::;X$&&$$Xx++++xx$$       
             ::+;:;+;:+;x+++;;;;:::.......... ....:::::::++xx++++;;;::::;::;+$&$$X+;+XX;;++XX$      
             :;;::+XX++X+x++;;:::::.. .. .. ..    ......::+++++;;+;;:...::;;x+XXX+:;XXx+;++;x$      
             :::::;;;+XxxXx++;::::......  .  .. .  .....::;+;;;;;;;::.. :;;;;+XXxxxX$$Xx++xXX       
             ::::::;;;+xxXx+X+;:.....  ..  .    ..     .::::;;;:;::..  .::;;;;;;++xXXx+;X;+$$       
             :;;:;+xxXX+x$Xxxx;...... .  .  .  .  . ... .:::::::::.    .:::;;;:;;;;;+XXXXxx$$       
             x;;;;x$X+xx++XXX;........ . .   .  .  ..  ......:::::.......::::::::::;X$$XXXX$;       
              X;;;X+:::;++X$X:.::..  ...  .  .  .  . .........::::::.:...::::::::::;+++XXX+:;       
              XX+;+;::::;+XXx::::...... .  .  .. ............::::;;:.  .:.:::::;;;:;;;xXXX;:;       
              XXX+;+:.:::+$+;::::....... .. . ..... .... ...::::;:::.....:::::::;;;;+XXxXx;:        
               XXX+;+:::.;X+;:::............................:::::...    ..:::::;:;;+xXxxx;:         
                x$Xx+;::.;X+;;::...  .....................::.:::..   ...:::::::;;x$XX+Xx+;:         
               ++$X&$X;:::Xx+;::. .  .....:::::::::::::...:..:............:::;;+X&&$X$x+;;          
              ;+x$X&&&&x:.+x+;;:   . ..::::::::::::::::::::.:...........:::;+X$  &$$$Xx;:           
             :;;X$x$&$&&;::x++;;.. ...:::;;;;;+;;+;;:;::::::..:..:.::.::;+xx$&$$$&&$Xx+             
            ;:;+XXX&$$X$X:.;x+;;;.....:;;+XXxxxxx+++++;+;;;;;;::::::;+x$;+X$$XXXXXXXXX              
            :;++X;+$$XX&&+:.;+;;:;:.:.:;X$$$$$$+:::..:.::;;;;;++;++xX+;;;+X$$&&&$$&$XxX             
            :;+;;;++$$&&$&x..:;;;::::::;+X$$$$X++:::::   .:::::::::;;;;++X+;;++X$$XX&&xxXX          
            ;;+;;;;;;x$X&&&+. .::;;::::;;X+XXxXXX++;:::::. .::..:::::++;;+++++;::;;:;X&XxxxX        
            ;;;:;;;++;;;X&&&X.   .::::;;;+Xx$$$$$$$$+::;;::.:;:.::;;;::...::::::::::;;+x+xxXXX      
           +;+;:::;;;;;;;;&&$X;     ..:::;+X+X$$XX$$$$x+;;;::;;:::...:......:::...:::++xXxxxxXXX    
           x;;+:::::;;;;;:x$$&&&;       ...:++xXxxx+$&$$$$$$$$$XXx+;:;x;...........::;xXXXx+xXXX$X$ 
           x;+:::::::::::::;X&&&&$;.        ..;+xXxx+xXX$$$$$Xx+XX$XxXXxx;....:::..:::+Xxxx+xXXX$$$$
           +;;;:::::::::;:;;;x$&&&&&x...      ...;XXXxx++x++x++xxX$Xxx$$Xx+x;:......;+++++x++xX$$$$$
           +;:;;:::::..:::::;:::::;+&&x:. ..   .  ..:;;+++++;;;+xXXXXXX$$x+;;;++++xXx++++xx+++xXXX$$
            ;:::::::::...::::::::::;+XX+++;.............:::...;++++xx++++++x+xxXxx+;++++++++++xxXXX$
            +;:::;;;;;::::...::::::;;++;;:....:;+:...+;;;;::::::;;;;:::;;;;;;;++;;+++++++;;;+++xxXXX
            x+:::::;;;;;;;::....:::::;+++;:.....;+:;;x:;;:::::::;;;+;:;;;+;++xX$$XXXx+++++;;+++++xXX
           x+++;:::::;;;;;:::::..::.::;++;..... ..;+;:::::.:::::;+++;;;;;;;++xX$&$$$$XXx+++++++++xxX
           ++++;;:::::;;;;;:::::.....::;;:...  . .:X;:::..::::;;;;+;;;;;;::;;+xXX$&&&&$$$$$$&&&&$$X$


<ansi fg="black-bold">.:</ansi> Welcome to <ansi fg="45">Delusions of Grandeur</ansi>, a MUD set on the world of <ansi fg="45">Gaius</ansi>.
                                                      <ansi fg="black-bold">The Chrysalis awaits.</ansi>

<ansi fg="black-bold">{{ repeat "=" 80 }}</ansi>
