The <ansi fg="command">paz</ansi> command can be used in the following ways:

<ansi fg="command">paz</ansi> - Restores your Health and Conviction to maximum.
<ansi fg="command">paz [target]</ansi> - Restores the target's Health and Conviction to maximum.
