
<ansi fg="black-bold">.:</ansi> <ansi fg="username">{{ .Name }}</ansi>
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Description</ansi> ────────────────────────────────────────────────────────────┐
   {{ splitstring .GetDescription 72 "   "}}
   {{ .GetHealthAppearance }}
 └────────────────────────────────────────────────────────────────────────────┘
