 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="117">✦     ·   ˙      ✦    »      ·    ✦   ˙  </ansi>
                   <ansi fg="153">                ░▒▓▓▒░                </ansi>
                   <ansi fg="117">             ░▒▓███████▓▒░             </ansi>
                   <ansi fg="153">           ▒▓███████████████▓▒           </ansi>
                   <ansi fg="117">          ▓█████████████████████▓          </ansi>
                   <ansi fg="152">           ▒▓███████████████▓▒           </ansi>
                   <ansi fg="117">             ░▒▓███████▓▒░             </ansi>
                   <ansi fg="74">                ░▒▓▓▒░                </ansi>
                   <ansi fg="153">       Swiftmoon rides full and bright.       </ansi>

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
