 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="74">·     »    ˙       ✦      »     ·    ˙   </ansi>
                   <ansi fg="238">                ░░░░░                </ansi>
                   <ansi fg="240">             ░░░░░░░░░░░             </ansi>
                   <ansi fg="238">           ░░░░░░░░░░░░░░░           </ansi>
                   <ansi fg="74">          █▓▒░░░░░░░░░░░░░░░          </ansi>
                   <ansi fg="238">           ░░░░░░░░░░░░░░░           </ansi>
                   <ansi fg="240">             ░░░░░░░░░░░             </ansi>
                   <ansi fg="238">                ░░░░░                </ansi>
                   <ansi fg="74">  Swiftmoon goes dark and races on unseen.  </ansi>

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
