 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="214">❀      ˙    ❁       ·      ❀        ˙  </ansi>
                   <ansi fg="172">    ❁    ░▒▓▒░   ❀    ░▒▒░    ❁       </ansi>
                   <ansi fg="166">  ❀    ╲ ▜▛ ╱   ❁    ╲ ▜▛ ╱    ❀     </ansi>
                   <ansi fg="130">     ❁      ╲│╱      ❀    ╲│╱   ❁     </ansi>
                   <ansi fg="172">▂▃▄░▒▓▒░▄▃▂▃▄▅░▒▓▓▒░▅▄▃▂▃▄░▒▓▒░▄▃▂▃▄</ansi>
                   <ansi fg="214">          Autumn comes to {{ .zone }}.          </ansi>

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
