 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="68">░▒▓▓▒░▒▓▓▓▒░▒▓▓▒░▒▓▓▓▓▒░▒▓▓▒░▒▓▓▒░▒▓▒</ansi>
                   <ansi fg="74">  ╱ ╱  ╱ ╱ ╱  ╱ ╱ ╱  ╱ ╱  ╱ ╱ ╱  ╱  </ansi>
                   <ansi fg="38"> ╱ ╱ ╱  ╱ ╱  ╱ ╱ ╱  ╱ ╱  ╱ ╱ ╱  ╱ ╱ </ansi>
                   <ansi fg="31">  ╱ ╱  ╱ ╱ ╱  ╱ ╱  ╱ ╱ ╱  ╱ ╱  ╱ ╱  </ansi>
                   <ansi fg="74">≈≋≈≋≋≈≋≈≋≈≋≋≋≈≋≈≋≈≋≋≈≋≈≋≈≋≋≈≋≈≋≈≋≋≈≋</ansi>
                   <ansi fg="38">      The wet season breaks over {{ .zone }}.      </ansi>

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
