 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="239">·      ˙        ·          ˙       ·    ˙  </ansi>
                   <ansi fg="130">                ░▒▓▓▒░                </ansi>
                   <ansi fg="166">              ░▒▓█████▓▒░              </ansi>
                   <ansi fg="215">             ▒▓███████████▓▒             </ansi>
                   <ansi fg="166">              ░▒▓█████▓▒░              </ansi>
                   <ansi fg="60">▂▃▄▅▆▇</ansi><ansi fg="180">▆▅▄▃▄▅▆</ansi><ansi fg="60">▇▆▅▄▃▂▃▄▅▆▇▆▅▄▃▂▃▄▅▆</ansi>
                   <ansi fg="24">≈≋≈  ≋ </ansi><ansi fg="137">≈≋ ≈ ≋≈</ansi><ansi fg="24"> ≋ ≈≋≈  ≋  ≈≋ ≈ ≋≈ ≈</ansi>
                   <ansi fg="23">  ≈   ≋≈    ≋    ≈  ≋ ≈   ≋   ≈ ≋  ≈ </ansi>
                   <ansi fg="223">              The sun sets.             </ansi>

                       Night draws in over the world.

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
