 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="195">░▒▓▓▒░   ░▒▓▓▒░    ░▒▓▓▒░   ░▒▓▓▒░ </ansi>
                   <ansi fg="255">❄  ·   ✳    *   ❄     ·   ✳    ·  ❄</ansi>
                   <ansi fg="117">  *   ❄   ·    ✳   *    ❄    ·   *  </ansi>
                   <ansi fg="152">▂▃▄▅▆▇▆▅▄▃▂▃▄▅▆▇▆▅▄▃▂▃▄▅▆▇▆▅▄▃▂▃▄</ansi>
                   <ansi fg="255"> ·  *   ❄    ·   ✳    *   ❄   ·   ✳</ansi>
                   <ansi fg="195">❄    ·   *    ❄    ·    *   ❄   ·  *</ansi>
                   <ansi fg="255">   ✳    ·   ❄    *    ·   ✳    ❄    </ansi>
                   <ansi fg="231">A blizzard howls across {{ .zone }}.</ansi>

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
