 <ansi fg="239">┌─────────────────────────────────────────────────────────────────────────┐</ansi>

                   <ansi fg="103">░▒▓████▓▒░      ░▒▓██████▓▒░       </ansi>
                   <ansi fg="61">▒▓██████████▓▒▓████████████▓▒░    </ansi>
                   <ansi fg="60">▓████████████████████████████████▓░</ansi>
                   <ansi fg="60">▀▓██████</ansi><ansi fg="226">⚡</ansi><ansi fg="60">████████</ansi><ansi fg="229">╲</ansi><ansi fg="60">████████▀</ansi>
                   <ansi fg="146">╱ </ansi><ansi fg="229">⟍</ansi><ansi fg="146">  ╱ ╲ </ansi><ansi fg="226">╱</ansi><ansi fg="146"> ╲  ╱ ⟍ ╲  ╱ ╲  ╱</ansi>
                   <ansi fg="103">╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱</ansi>
                   <ansi fg="146">╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱╱╱ ╱</ansi>
                   <ansi fg="230">A storm breaks over {{ .zone }}.</ansi>

 <ansi fg="239">└─────────────────────────────────────────────────────────────────────────┘</ansi>
